/* :root {
    --colorWhite: #ffffff;
    --colorBlack: #000000;
    --colorRed: red;
    --fontSize-sm: 16px;
    --fontFamily: 'Arial, Helvetica, sans-serif';
    --fontTitle: 'Arial';
    --fontBody: 'Helvetica';
} */

  @import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;600&display=swap');

* {
    font-family: 'Lora', serif;
    background-color: #F3DBE0;
}


/*  ------------ HAMBURGUER ------------- */

.hamburguer {
    display: none;
    cursor: pointer;
  }
  
  .bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #292e47;
  }

/* SignIn Component */

/* h1 {
    color: var(--colorRed);
} */

/* SignUp Component */

/* Home view */

/* Account View */

@media (max-width: 766px) {

    /*  ------------ HAMBURGUER RESPONSIVE ------------- */

  .hamburguer {
    display: block;
  }

  .hamburguer.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburguer.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .hamburguer.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  .nav-menu {
    position: absolute;
    top: -200%;
    /*  top: 80px; */
    gap: 0;
    flex-direction: column;
    background-color: #c8c8c8;
    width: 100%;
    text-align: left;
    transition: top 0.5s;
    left: 0%;
  }


  .nav-menu.active {
    top: 80px;
  }

}