/* :root {
    --colorWhite: #ffffff;
    --colorBlack: #000000;
    --colorRed: red;
    --fontSize-sm: 16px;
    --fontFamily: 'Arial, Helvetica, sans-serif';
    --fontTitle: 'Arial';
    --fontBody: 'Helvetica';
} */

@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;600&display=swap');

* {
  font-family: 'Lora', serif;
}

body {
  /* background-color: #F3DBE0; */
  background: linear-gradient(110deg, #ffffff, #FAF0F2, #F3DBE0, #F0D1D8);
  margin: 0;
}

/*  ------------ HAMBURGUER ------------- */

.hamburguer {
  display: none;
  cursor: pointer;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #292e47;
}

.nav-menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(45deg, #858287, #666468, #3f3d40);
  opacity: 0.7;
  padding: 10px 20px 10px 20px;
}


.nav-menu li {
  list-style: none;

}

.nav-ul {
  display: flex;
  flex-direction: row;
  gap: 100px;

}

.dropdown {
  display: none;
}

nav a {
  color: #FAF0F2;
  text-decoration: none;
  font-weight: 800;
  font-size: 18px;
  padding-left: 10px;
}

.task-buttons {
  gap: 20px;
  font-size: 40px;
}

/* SignIn Component */

/* h1 {
    color: var(--colorRed);
} */

/* SignUp Component */

/* Home view */

/* Account View */

@media (max-width: 766px) {

  /*  ------------ HAMBURGUER RESPONSIVE ------------- */
  body {
    background: linear-gradient(110deg, #F3DBE0, #FAF0F2, #ffffff);
    margin: 0;
  }

  .hamburguer {
    display: block;
    margin-top: 3%;
    margin-right: 3%;
  }

  .nav-menu {
    position: absolute;
    top: -100%;
    gap: 0;
    flex-direction: column;
    background-color: #c8c8c8;
    width: 50%;
    text-align: left;
    transition: top 0.5s;
    left: 0%;
    padding: 5px 20px 5px 20px;
  }

  .nav-menu.active {
    top: 40px;
  }

  .hamburguer-wrap {
    display: flex;
    width: 100%;
    justify-content: flex-end;
    position: fixed;
    top: 0;
  }

  .dropdown {
    margin-top: 20px;
    height: 0px;
    background-color: white;
    transition: height 0.2s ease;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    overflow: hidden;
  }

  .dropdown-after {
    height: calc(40vh - 10px);
    transition: height 0.2s ease;
    align-items: center;
    justify-content: center;
    opacity: 0.8;
  }

  .navlist {
    list-style: none;
  }

  .navlistitem {
    text-transform: uppercase;
    text-align: center;
    padding: 20px;
  }

  .navlistitem a {
    color: black;
  }

  .navlist {
    padding-inline-start: 0;
  }

  .all-hamburguer {
    position: fixed;
    width: 100%;
  }

  h1 {
    margin-top: 6vh;
  }

  .logout-hamburguer {
    display: flex;
    justify-content: center;
    margin-top: 50px;
  }
}